* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  background-color: #333; /* Set a background color */
  color: white; /* Set text color */
  position: fixed; /* Fixed position so it stays at the top */
  width: 100%; /* Full width */
  top: 0; /* Align to the top */
  z-index: 2; /* Ensure it's above other elements */
  padding: 1rem; /* Add padding for spacing */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
}

nav li {
  margin: 0 1rem; /* Add space between menu items */
}

/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s; /* Add a smooth color transition on hover */
}

nav a:hover {
  color: #ffcc00; /* Change color on hover */
}

/* nav {
  color: black;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
} */